.quiz-wrap {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-wrap form[title="quiz"] {
    padding: 1rem;
    font-family: Tahoma;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.quiz-wrap form[title="quiz"] .content {
    border: 1px solid rgb(139, 139, 139);
    padding: 0 0.5rem 0 0;
    width: 370px;
}

.quiz-wrap form[title="quiz"] .result {
    border: 1px solid rgb(139, 139, 139);
    width: 370px;
    padding: 1rem;
}

.quiz-wrap form[title="quiz"] .result button {
    background-color: rgb(86, 165, 57);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    font-family: Tahoma;
    font-size: 1rem;
}

.quiz-wrap form[title="quiz"] .result .message {
    padding: 1rem 0 0 0;
}

/**/

body[is-dark="yes"] .quiz-wrap {
    color: skyblue;
}

body[is-dark="yes"] .quiz-wrap form[title="quiz"] :where(.content, .result) {
    border: 1px solid skyblue;
}