body {
    background-color: rgb(224, 224, 224);
    margin: 0;
}

.v6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    min-height: 100dvh;
}

.v6 .v6-body {
    width: 76dvw;
    background-color: white;
    min-height: 90dvh;
    padding: 1rem;
    font-family: Arial;
}

.v6 .v6-body form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.v6 .v6-body form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid rgb(111, 108, 108);
}

.v6 .v6-body form button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(26, 118, 55);
    color: white;
    border: none;
    cursor: pointer;
}